/* Dashboard */


#dashboard{
    display: flex;
    justify-content: space-between;
    align-items: flex;
    background-color: white;
}

#left {
    align-items: left;
    text-align: center;
    padding: 3px;
}
#left li {
    padding: 6px;
    margin: 7px;

}

#right{
    align-items: right;
    text-align: center;
}

#right li{
    padding: 3px;
}





/* End Dashboard */
